.App {
  --navigation-height: 40px;

  display: grid;
  grid-template-rows:
    90px
    var(--navigation-height)
    auto
    var(--navigation-height);
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main"
    "footer";

  width: 960px;
  margin: 0 auto;

  background-color: #000;
}

.App .Header {
  grid-area: header;
}

.App .Navigation {
  grid-area: navigation;
}

.App .Main {
  grid-area: main;
}

.App .Footer {
  grid-area: footer;
}

@media screen and (max-width: 960px) {
  .App {
    width: 95%;
  }
}
