.App {
  --navigation-height: 40px;

  display: grid;
  grid-template-areas:
    "header"
    "navigation"
    "main"
    "footer";
  grid-template-rows:
    90px
    var(--navigation-height)
    auto
    var(--navigation-height);

  width: 960px;
  margin: 0 auto;

  background-color: #000;
}

.App > .header {
  grid-area: header;
}

.App > .navigation {
  grid-area: navigation;
}

.App > .main {
  grid-area: main;
}

.App > .footer {
  grid-area: footer;
}

@media screen and (max-width: 960px) {
  .App {
    width: 95%;
  }
}

@media screen and (max-width: 960px) {
  .App {
    grid-template-rows:
      90px
      auto
      auto
      var(--navigation-height);
  }
}
