.Navigation {
  display: flex;
  align-items: stretch;
  justify-content: center;

  box-sizing: content-box;

  background-color: #20232a;
}

.Navigation-list {
  display: flex;
  align-content: stretch;

  margin: 0;
  padding: 0;
}
