.NavigationItem {
  display: inline-flex;
  
  list-style-type: none;
}

.NavigationItem + .NavigationItem {
  margin-left: 10px;
}

.NavigationItem-link {
  padding: 15px 15px; /* Center vertically and add 15px horizontal padding */

  text-decoration: none;
  color: #ccc;
}

.NavigationItem-link:hover {
  background-color: #0005;
  color: #fffd;
}

.NavigationItem-link:active {
  background-color: #0009;
  color: #fffe;
}
