.NavigationItem {
  display: inline-flex;
  
  list-style-type: none;
}

.NavigationItem + .NavigationItem {
  margin-left: 10px;
}

.NavigationItem-link {
  padding:
    calc(var(--navigation-height) / 4) /* Center vertically */
    15px;

  text-decoration: none;
  color: #ccc;
}

.NavigationItem-link:hover {
  background-color: #0005;
  color: #fffd;
}

.NavigationItem-link:active {
  background-color: #0009;
  color: #fffe;
}
